* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

#seo {
    color: #d9dcd6;
}

ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

#people {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.blocks {
    margin-bottom: 20px;
    padding: 50px;
    /* Updates to suit screen sizes */ 
    height:auto;
    display: flex;
    flex-wrap: wrap;
    /* Updates to suit screen sizes */ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;

}

.blocks img {
    max-height: 200px;
}

.blocks h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.sideblock {
    margin-bottom: 32px;
    color: #ffffff;
}

.sideblock h3 {
    margin-bottom: 10px;
    text-align: center;
}

.sideblock img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* Page layout updated at 992px or smaller */
@media screen and (max-width: 992px) {
    /* Change the header color */
    header {
      background: #772014;
    }
    /* Optimised width */
    .content {
        width: 65%;
  }
    .benefits {
        width: 30%;
    }
}
/* Page layout updated at 768px or smaller */
@media screen and (max-width: 768px) {
    /* Change the header color */
    header {
      background: #8ac4ff;
    }
    /* Optimised width */
    .content {
        width: 95%;
  }
    .benefits {
        width: 95%;
    }
}